import { createStore, combineReducers } from 'redux';

import SdkMap from '@boundlessgeo/sdk/components/map';
import SdkMapReducer from '@boundlessgeo/sdk/reducers/map';
import * as SdkMapActions from '@boundlessgeo/sdk/actions/map';

import SdkLayerList from '@boundlessgeo/sdk/components/layer-list';
import SdkLayerListItem from '@boundlessgeo/sdk/components/layer-list-item';

import {Provider} from 'react-redux';

import {DragSource, DropTarget} from 'react-dnd';

const store = createStore(combineReducers({
  'map': SdkMapReducer,
}));

class LayerListItem extends SdkLayerListItem {
  render() {
    const layer = this.props.layer;
    const checkbox = this.getVisibilityControl(layer);
	
    return  this.props.connectDragSource(this.props.connectDropTarget((
      <li className="layer">
        <span className="checkbox">{checkbox}</span>
        <span className="name">{layer.id}</span>
      </li>
    )));
  }
}

LayerListItem = DropTarget(types, layerListItemTarget, collectDrop)(DragSource(types, layerListItemSource, collect)(LayerListItem));

class App extends Component {
	componentDidMount() {
	  // add the OSM source
	  store.dispatch(SdkMapActions.addSource('osm', {
		type: 'raster',
		tileSize: 256,
		tiles: [
		  'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
		  'https://b.tile.openstreetmap.org/{z}/{x}/{y}.png',
		  'https://c.tile.openstreetmap.org/{z}/{x}/{y}.png',
		],
	  }));

	  // add an OSM layer
	  store.dispatch(SdkMapActions.addLayer({
		id: 'osm',
		source: 'osm',
	  }));
	}

	render(){
		return 
		<div>
			<SdkMap store={store} />

			<Provider store={store}>
			  <SdkLayerList layerClass={LayerListItem} />
			</Provider>
		</div>
	}
}